.results-display-head {
  text-align: center;
}

.bold-point {
  font-weight: bold;
}
#results-card-container {
  width: 75%;
  margin: 0 auto;
  border-radius: 20px;
  opacity: 0.97;
  position: relative;
  top: 20%;
}

#results-card {
  border-radius: 10px;
  background-color: rgb(5, 6, 9);
  color: rgb(239, 246, 246);
}

#results-card2 {
  /* width: 50%; */
  margin: 0 auto;
  border-radius: 10px;
}

/* Media query for smaller screens (e.g., mobile) */
@media (max-width: 768px) {
  .results-table {
    width: 100vh;
    /* margin: 0 auto; */
  }
  #results-card,
  #results-card2 {
    width: 100vh;
  }
}


.results-background {
  background-image: url(https://png.pngtree.com/thumb_back/fh260/background/20230712/pngtree-d-rendered-target-with-arrows-perfect-for-aiming-and-focus-on-image_3848509.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
}