.list-buttons {
  margin-top: 15px;
  display: flex;
  justify-content: space-between;
}

.list-header {
  display: flex;
  justify-content: space-between;
}

.list-header {
  display: flex;
  justify-content: space-between;
}

.edit-mode {
  display: flex;
  flex-wrap: wrap;
}

/* .edit-field { */
  /* flex-basis: 50%; Two fields per row, adjust as needed */
  /* margin-bottom: 10px;
} */

/* Style labels in edit mode */
/* .edit-field label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
} */

/* Style input fields in edit mode */
/* .edit-field input,
.edit-field textarea {
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
} */

.list-buttons {
  margin-top: 10px;
  display: flex;
  justify-content: flex-end;
}

/* Style the Delete button */
.list-buttons button {
  /* margin-left: 10px; */
  /* color: white; */
  /* border: none; */
  border-radius: 5px;
  /* padding: 5px 10px; */
  cursor: pointer;
}

/* Style the line under Date */
.game-data-line {
  display: flex;
  /* justify-content: space-between; */
}

/* Style for the Game history data */
.game-history {
  text-align: left;
} 

#games-list-card {
  width: 50%;
  margin: 0 auto;
}

/* Style for game information table display */
.game-list-display-container {
  display: flex;
}

.round-info {
  border: 1px solid rgb(1, 34, 1);
  width:60%;
}

#round-scores {
  margin-left: 5px;
}

/* Media query for smaller screens (e.g., mobile) */
@media (max-width: 768px) {
  #games-list-card {
    width: 100%;
    /* margin: 0 auto; */
  }
  .Table {
    width: 100%;
  }

  .round-info {
    width: 100%;
  }
  ul {
    margin-bottom: 5px;
  }
}