.list-buttons {
  margin-top: 15px;
  display: flex;
  justify-content: space-between;
}

/* .list-header {
  display: flex;
  justify-content: space-between;
} */

.list-header {
  display: flex;
  justify-content: space-between;
}

.edit-mode {
  display: flex;
  flex-wrap: wrap;
}

#edit-card {
  width: 100%;
  height: 100%;
}

.list-buttons {
  margin: 5px 20px;
  display: flex;
  justify-content: space-between;
}

/* Style the Delete button */
.list-buttons button {
  /* margin-left: 10px; */
  /* color: white; */
  /* border: none; */
  border-radius: 10px;
  /* padding: 5px 10px; */
  cursor: pointer;
}

/* Style the line under Date */
.game-data-line {
  display: flex;
  /* justify-content: space-between; */
}

/* Style for game history Card */
#history-card {
  width: 100vh;
  margin-right: 5px;
  min-width: 50vh;
}

/* Style for the Game history data */
.game-history {
  text-align: left;
}

#games-list-card {
  margin: 0 auto;
  border-radius: 10px;
  width: 100%;
}

/* Style for game information table display */
.game-list-display-container {
  display: flex;
}

/* Card for Round info */
.round-info {
  border: 1px solid rgb(1, 34, 1);
  width: 40%;
  min-width: 40vh;
}

#round-scores {
  margin-left: 5px;
  color: #cbcbd3;
  text-align: center;
  padding: 15px;
}

/* style for GamesList container, in History component */
#history-paper {
  width: 65%;
  margin: 0 auto;
  border-radius: 10px;
  min-width: 100vh;
}

/* Media query for smaller screens (e.g., mobile) */
@media (max-width: 768px) {
  #games-list-card,
  #edit-card {
    width: 100%;
  }

  .round-info {
    display: none;
  }

  #history-card {
    width: 100%;
    margin-right: 0;
    font-size: 14px;
  }

  #history-paper {
    width: 100%;
    min-width: auto;
  }
}
