.profile-head {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.profile-name-icon {
  display: flex;
  justify-content: space-between;
}

/* Default styles for larger screens */
.page-container {
  /* display: flex; */
  /* flex-direction: row; */
  margin-top: 55px;
}

/* .card {
  flex: 1;
  margin: 10px;
} */

/* Styles for mobile screens */
@media (max-width: 767px) {
  .page-container {
    flex-direction: column;
    margin-top: 0px; 
  }

  .card {
    width: 80%; /* Adjust the width as needed for mobile layout */
    margin: 10px 0; /* Add some spacing between cards */
  }
}
