html,
body,
#react-root {
  height: 100%;
}

body {
  font-family: avenir;
  margin: 0px;
  background-color: black;
}

img {
  display: inline-block;
  max-width: 100%;
}

h1 {
  color: ghostwhite;
  text-align: center;
  font-family: avenir;
}

/* --------------------------------------------------------------------------------
Container
-------------------------------------------------------------------------------- */

.container {
  display: flex;
  padding: 20px;
}

/* --------------------------------------------------------------------------------
Button
-------------------------------------------------------------------------------- */

.btn {
  /* display: inline-block; */
  padding: 10px 20px;
  border-color: #014041;
  border-width: 1px 1px 3px;
  border-radius: 4px;
  background-color: #4770ea;
  color: #f8f8f8;
  font-size: 1.1rem;
  outline: 0;
  cursor: pointer;
}

.btn_sizeMin {
  min-height: 50px;
  min-width: 100px;
}

.btn_sizeSm {
  padding: 10px 15px;
  font-size: 0.8rem;
}

.btn_sizeFull {
  display: block;
  width: 100%;
}

.btn:hover {
  background-color: #7c99f0;
  text-decoration: none;
}

/* This line makes the "Register" and "Login" buttons look like links */


/* --------------------------------------------------------------------------------
Alert
-------------------------------------------------------------------------------- */

.alert {
  box-sizing: border-box;
  padding: 15px 10px;
  margin: 15px 0;
  border: 2px solid #e01616;
  background-color: #efefef;
  border-radius: 3px;
  color: #e01616;
  font-size: 0.8rem;
}

/* --------------------------------------------------------------------------------
Form Treatment
-------------------------------------------------------------------------------- */

#login-card {
  width: 50%;
  margin: 0 auto;
  border-radius: 10px;
}

/* --------------------------------------------------------------------------------
Login Page Treatment
---------------------------------------------------------------------------------- */

#login-paper {
  height: 100vh;
  background-image: url(https://img.freepik.com/premium-vector/abstract-technology-background_42421-335.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

@media (max-width: 768px) {
  #login-paper {
    background-size: 100vh 100vh;

  }
  #login-message {
    width: 100vh;
    height: auto;
    margin: 0;
    top: 0;
    border-radius: 0;
  }
}

#login-header {
  background-color: #62a9c6;
  width: 90%;
  margin: 0 auto;
  border-radius: 10px;
}

#login-message {
  opacity: 0.9;
  position: relative;
  margin: 0 auto;
  border-radius: 20px;
  top: 30%;
  width: 25%;
  min-width: 350px;
}

#login-button:hover {
  background-color: #6ab3cd;
  color: black;
  cursor: crosshair;
}

#register-button:hover {
  background-color: rgb(153 205 224);
  color: white;
}