body {
  background: black;
  margin: 0;
  overflow: hidden;
}

.firework {
  position: absolute;
  width: 8px;
  height: 8px;
  background: rgb(19, 113, 181);
  border-radius: 50%;
  animation: explode 1s linear infinite, fade 1s linear forwards;
}

@keyframes explode {
  0% {
    transform: scale(1);
    background: rgb(12, 26, 178);
  }
  100% {
    transform: scale(50);
    background: transparent;
  }
}

@keyframes fade {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
