#safety-line {
  font-weight: bold;
  background-color: yellow;
  border-radius: 4px;
  color: black;
  padding: 2px;
}

#about-card {
  width: 50%;
  height: 100%;
}

#email-link:hover {
  color: lightblue;
}

@media (max-width: 767px) {
  #about-card {
    width: 100%;
    height: 100vh;
    overflow-y: auto;
    margin-bottom: 55px
  }
}
